


#elementor-panel-category-magical .elementor-element:hover:before {
    color: rgb(196, 1, 1);
}

.elementor-control-mgpd_gopro .elementor-panel-heading-title.elementor-section-title,
.elementor-control-mgpd_gopro i {
    color: red;
}

.elementor-control-mgpd__pro .elementor-button-go-pro{
    background: #a20000;
    color: #fff;
}

/* Disable pro controls for free version */
.mpd-pro-control-disabled .elementor-control-input-wrapper,
.mpd-pro-control-disabled .elementor-switch {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
.mpd-pro-control-disabled .elementor-control-field-description {
    opacity: 0.7;
}